body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	text-align: center;
	height: 100vh;
	background: radial-gradient(#407bad, #214154, #13242f);
}
h1{
	color: #eee;
	margin: 0;
	padding-top: 20px;
}
.star{
	width: 2px;
	height: 2px;
	background: #fff;
	position: absolute;
	border-radius: 50%;
	transition: 0.5s;
}
.s1{
	top: 20%;
	left: 50%;
}
.s2{
	top: 30%;
	left: 30%;
}
.s3{
	top: 90%;
	left: 90%;
}
.s4{
	top: 80%;
	left: 20%;
}
.s5{
	top: 30%;
	left: 80%;
}
.s6{
	top: 70%;
	left: 80%;
}
.s7{
	top: 50%;
	left: 70%;
}
.s8{
	top: 80%;
	left: 50%;
}
.s9{
	top: 35%;
	left: 10%;
}
.s10{
	top: 60%;
	left: 20%;
}
.star:nth-child(2n){
	animation: star-p 2s infinite; 
}
@keyframes star-p{
	0%, 90%{
		box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.3);
	}
	100%{
		box-shadow: 0 0 16px 16px rgba(255, 255, 255, 0.3);
	}
}
.star:nth-child(2n+1){
	animation: star-i 2s infinite; 
}
@keyframes star-i{
	0%, 35%, 50%{
		box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.3);
	}
	45%{
		box-shadow: 0 0 16px 16px rgba(255, 255, 255, 0.3);
	}
}
.nubes, .mapa{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.nubes{
	width: 220px;
	height: 220px;
}
.nubes img{
	position: relative;
	z-index: 2;
}
.mapa{
	width: 200px;
	height: 200px;
	background-image: url(../img/mapa.png);
	z-index: 1;
	border-radius: 50%;
	box-shadow: -30px -20px 0 0 rgba(0, 0, 0, 0.1) inset,
	-70px -30px 0 0 rgba(0, 0, 0, 0.1) inset,
	5px 5px 0 0 rgba(255, 255, 255, 0.2) inset;
	background-size: cover;
	animation: girando 5s infinite linear;
}
@keyframes girando{
	from{
		background-position: left center; 
	}
	to{
		background-position: -396px center;
	}
}